# .NET build artifacts
bin/
obj/

# Visual Studio / Rider
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# IDEs
.vscode/
.idea/

# Node / front-end
node_modules/
dist/

# NuGet
*.nupkg
packages/

# System
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp
*.bak

# Compressions & maps
*.br
*.gz
*.map

# Static site leftovers
/docs/
/css/
/data/
/images/
/img/
/js/
/lib/
/jquery/
/jquery-validation/
/jquery-validation-unobtrusive/

# Otros archivos de respaldo
estructura.txt
render.yaml