@{
    ViewData["Title"] = "Quiénes Somos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="fade-in mb-5">
    <div class="text-center mb-4">
        <h1 class="display-5">
            ¿Quiénes somos?
        </h1>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6" style="font-size:1.1em; line-height:1.6;">
                <p>
                    En Litoral, nos dedicamos a transformar ideas en piezas atractivas. Nuestro equipo está dirigido a la construcción de piezas bellas, genuinas y efectivas. Más que servicios, ofrecemos procesos de creación compartidos, con escucha, detalle y compromiso. Nos especializamos en redacción y corrección de diferentes tipos de textos, en asesoría creativa, diseño editorial, publicación física o digital y gestión de proyectos de comunicación.
                </p>
                <p>
                    Con pasión y experiencia, cada proyecto es una oportunidad para crear algo único y memorable. Desde la concepción hasta la publicación, te acompañamos en cada uno de los pasos necesarios para que tu mensaje no solo se escuche, sino que impacte.

                </p>
            </div>
            <div class="col-12 col-lg-6 text-center p-5">
                <img src="~/img/equipo-editorial.jpg" class="img-fluid rounded shadow w-50 mb-3" alt="Foto Fer">
                <p><i>Soy Fernando Vicente Prieto. Esta iniciativa sintetiza muchas de las actividades que realizo desde hace más de veinte años. En este proyecto estoy acompañado por un equipo de especialistas que nos permite ofrecer un servicio de calidad.</i></p>
            </div>
        </div>
    </div>

    <hr class="m-5" />

    <div class="text-left m-4">
        @*<div class="text-center m-4">*@
        <h3 class="m-3">Misión</h3>
        <p style="font-size:1.1em; line-height:1.6;" class="mt-2">
            Potenciar la escritura y el pensamiento creativo, ofreciendo servicios editoriales de excelencia, con un enfoque ético y sensible. Acompañamos cada proyecto con dedicación artesanal, transformando ideas en publicaciones pulidas y con alma.
        </p>
        <div class="m-3"></div>
        <h3 class="m-3 mt-5">Visión</h3>
        <p style="font-size:1.1em; line-height:1.6;" class="mt-2">
            Ser un referente en la edición y el acompañamiento humano de proyectos escritos de calidad, construyendo relaciones de confianza y contribuyendo a que cada voz encuentre su mejor expresión.
        </p>
    </div>
</section>
<section class="container my-5 text-center">
    <div class="row g-4 g-md-5 p-5 py-md-5">
        <div class="row g-0 my-5">

            <div class="col-md-4 col-4 border-end">
                <a asp-controller="Trabajo" asp-action="Index" class="nav-card enlace-minimalista">
                    <i class="fas fa-hands-helping fa-2x mr-2 iconosLink"></i>
                    <span class="mx-3">Trabajo</span>
                </a>
            </div>
            <div class="col-md-4 col-4 border-end">
                <a asp-controller="Servicios" asp-action="Index" class="nav-card enlace-minimalista">
                    <i class="fas fa-pen-fancy fa-2x mr-2 iconosLink"></i>
                    <span class="mx-3">Servicios</span>
                </a>
            </div>
            <div class="col-md-4 col-4 ">
                <a asp-controller="Contacto" asp-action="Index" class="nav-card enlace-minimalista">
                    <i class="fas fa-envelope fa-2x mr-2 iconosLink"></i>
                    <span class="mx-3">Contacto</span>
                </a>
            </div>
        </div>
    </div>
</section>

