
@model AguaDulce.Web.Models.PublicacionModel

@{
    ViewData["Title"] = Model.Titulo;
}

<section class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mb-4" style="font-size: .5em;">@Model.Titulo</h1>

            <p class="lead"><em>@Model.33333</em></p>
            <hr />

            <a 
               asp-area=""
                asp-controller="Home"
               asp-action="Index"
               class="btn btn-secondary mt-4">
                &larr; Volver a Inicio
            </a>
        </div>
    </div>
</section>