@model List<AguaDulce.Web.Models.ServicioModel>

    @{
        ViewData["Title"] = "Servicios";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

               <section class="fade-in">
                   <div class="text-center mb-4">
                       <h1 class="display-5">Nuestros Servicios</h1>
                       <p class="lead">
                           Ofrecemos la posibilidad de realizar diferentes combinaciones de actividades,
                           en un desarrollo de proyecto único y personalizado, creado para dar respuesta
                           a cada necesidad y a cada objetivo concreto.
                       </p>
                   </div>
                   <div class="row row-cols-1 row-cols-md-2 g-4">
                       @foreach (var servicio in Model)
            {
                       <div class="col">
                           <a asp-action="Details"
                              asp-route-id="@servicio.Id"
                              class="text-decoration-none text-dark">

                               <div class="card h-100 shadow-sm">
                                   <div class="card-body">
                                       <h5 class="card-title">@servicio.Titulo</h5>
                                       <p class="card-text">@servicio.Descripcion</p>
                                   </div>
                               </div>
                           </a>
                       </div>
            }
                   </div>

                   <div class="row row-cols-xs-2 g-4 mt-5">
                       <div class="col"></div>
                       <!-- a de Nosotros -->
                       <div class="col">
                           <div class="text-secondary text-left py-2">
                               <div>
                                   <a class="mt-4" asp-controller="Nosotros" asp-action="Index">
                                       <img src="https://tse4.mm.bing.net/th/id/OIP.2a73k8ASu_kgLIDM6F2c5wHaHa?r=0&rs=1&pid=ImgDetMain&o=7&rm=3"
                                            width="98" height="98" style="margin-left:0px;margin-top:0px;" />
                                       <i>
                                           <h5><   Nosotros</h5>
                                       </i>
                                   </a>
                               </div>
                           </div>
                       </div>
                       <div class="col"></div>
                       <div class="col"></div>
                       <!-- a de Contacto -->
                       <div class="col">
                           <div class="text-secondary text-end py-2">
                               <div>
                                   <a class="mt-4" asp-controller="Contacto" asp-action="Index">
                                       <img src="https://lh7-rt.googleusercontent.com/docsz/AD_4nXdzGMurXZf6AN_4_basWNFqxIuc9fPm8sBmnazxGI4CGKUC09YpOiHIP9OGDu7T_ntvmVhJ_7OJ39OJ_AaFQvLD0GhOdHqBeScNMJGg1JhmA9Lo4T9BZGXHBOv0i5kAkPwHQfGHNw?key=C1Hi4grsB7cCf18lWccMIg"
                                            width="98" height="98" style="margin-left:0px;margin-top:0px;" />
                                       <i>
                                           <h5>Contacto   ></h5>
                                       </i>
                                   </a>
                               </div>
                           </div>
                       </div>
                       <div class="col"></div>
                   </div>
               </section>
