<section class="navigation-links">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-3">
                <a asp-controller="Nosotros" asp-action="Index" class="enlace-moderno text-center ">
                    <i class="fas fa-users fa-2x mr-1 iconosLink"></i>
                    <span class="nav-text mr-1" style="font-size: .9em">Nosotros</span>
                </a> 
            </div>
            <div class="col-md-3 col-3">
                <a asp-controller="Trabajo" asp-action="Index" class="enlace-moderno nav-link">
                    <i class="fas fa-hands-helping fa-2x mr-1 iconosLink"></i>
                    <span class="nav-text mr-1" style="font-size: .9em">Trabajos</span>
                </a>
            </div>
            <div class="col-md-3 col-3">
                <a asp-controller="Servicios" asp-action="Index" class="enlace-moderno nav-link">
                    <i class="fas fa-pen-fancy fa-2x mr-1 iconosLink"></i>
                    <span class="nav-text mr-1" style="font-size: .9em">Servicios</span>
                </a>
            </div>
            <div class="col-md-3 col-3">
                <a asp-controller="Contacto" asp-action="Index" class="enlace-moderno nav-link">
                    <i class="fas fa-envelope fa-2x mr-1 iconosLink"></i>
                    <span class="nav-text mr-1" style="font-size: .9em">Contacto</span>
                </a>
            </div>
        </div>
    </div>
</section>
