<section class="row justify-content-center justify-around align-items-center ">
        <div class="col-auto">
            <div class="mb-2 nav-card enlace-moderno"><a href="~/Servicios/Details/1" class="iconosLink">Mentoría</a></div>
        </div>
        <div class="col-auto">
            <div class="mb-2 nav-card enlace-moderno"><a href="~/Servicios/Details/2" class="iconosLink">Consultoría</a></div>
        </div>
        <div class="col-auto">
            <div class="mb-2 nav-card enlace-moderno"><a href="~/Servicios/Details/3" class="iconosLink">Redacción</a></div>
        </div>
        <div class="col-auto">
            <div class="mb-2 nav-card enlace-moderno"><a href="~/Servicios/Details/4" class="iconosLink">Corrección</a></div>
        </div>
        <div class="col-auto">
            <div class="mb-2 nav-card enlace-moderno"><a href="~/Servicios/Details/5" class="iconosLink">Diseño</a></div>
        </div>
        <div class="col-auto">
            <div class="mb-2 nav-card enlace-moderno"><a href="~/Servicios/Details/6" class="iconosLink">Publicación</a></div>
        </div>
        <div class="col-auto">
            <div class="mb-2 nav-card enlace-moderno"><a href="~/Servicios/Details/7" class="iconosLink">Gestión</a></div>
        </div>
</section>