<section class="navigation-links">

        <div class="row justify-content-center">
            <div class="col-6 col-md-3 my-2">
                <a asp-controller="Nosotros" asp-action="Index" class="enlace-moderno text-center ">
                    <i class="fas fa-users fa-2x fa-md-2x mr-1 iconosLink"></i>
                    <span class="nav-text mr-1" >Nosotros</span>
                </a> 
            </div>
            <div class="col-6 col-md-3 my-2">
                <a asp-controller="Trabajo" asp-action="Index" class="enlace-moderno nav-link">
                    <i class="fas fa-hands-helping fa-2x mr-1 iconosLink"></i>
                    <span class="nav-text mr-1" >Trabajos</span>
                </a>
            </div>
            <div class="col-6 col-md-3 my-2">
                <a asp-controller="Servicios" asp-action="Index" class="enlace-moderno nav-link">
                    <i class="fas fa-pen-fancy fa-2x mr-1 iconosLink"></i>
                    <span class="nav-text mr-1" >Servicios</span>
                </a>
            </div>
            <div class="col-6 col-md-3 my-2">
                <a asp-controller="Contacto" asp-action="Index" class="enlace-moderno nav-link">
                    <i class="fas fa-envelope fa-2x mr-1 iconosLink"></i>
                    <span class="nav-text mr-1" >Contacto</span>
                </a>
            </div>


    </div>
</section>
